flows.json
[{"id":"aafbac26.d5de3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2966feb8.7cab92","type":"s7 endpoint","z":"","address":"132.186.90.176","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"","vartable":[{"addr":"DB4,INT2","name":"test1"}]},{"id":"5c84debc.c145b","type":"s7 endpoint","z":"","address":"172.17.32.248","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"","vartable":[{"addr":"DB5,INT6","name":"test"}]},{"id":"9b729516.4945b8","type":"s7 endpoint","z":"","address":"132.186.90.211","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"","vartable":[{"addr":"DB1,INT2416","name":"TEST"}]},{"id":"81fbef3.0869b1","type":"s7 endpoint","z":"","address":"132.186.90.176","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"","vartable":[{"addr":"DB4,INT2","name":"test"}]},{"id":"75a99602.7cb5f8","type":"mqtt-broker","z":"","name":"","broker":"central-messaging-databus-app-ks85s.system-apps.svc.cluster.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"45521310.3bb64c","type":"s7 out","z":"aafbac26.d5de3","endpoint":"9b729516.4945b8","variable":"TEST","name":"","x":680,"y":500,"wires":[]},{"id":"69d2e6b7.a43828","type":"inject","z":"aafbac26.d5de3","name":"","topic":"","payload":"2014","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":480,"wires":[["45521310.3bb64c"]]},{"id":"6fdd7f7.551b48","type":"inject","z":"aafbac26.d5de3","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":280,"wires":[["409e7eb6.39afa"]]},{"id":"409e7eb6.39afa","type":"debug","z":"aafbac26.d5de3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":200,"wires":[]},{"id":"55369eb8.77f2b","type":"s7 in","z":"aafbac26.d5de3","endpoint":"81fbef3.0869b1","mode":"single","variable":"test","diff":true,"name":"","x":320,"y":740,"wires":[["f5bd9a03.756168","67830607.8012d8"]]},{"id":"f5bd9a03.756168","type":"debug","z":"aafbac26.d5de3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":760,"wires":[]},{"id":"67830607.8012d8","type":"mqtt out","z":"aafbac26.d5de3","name":"","topic":"test/tag1","qos":"0","retain":"","broker":"75a99602.7cb5f8","x":680,"y":860,"wires":[]},{"id":"a7cf9e14.661a","type":"mqtt in","z":"aafbac26.d5de3","name":"","topic":"test/tag1","qos":"0","datatype":"auto","broker":"75a99602.7cb5f8","x":340,"y":1000,"wires":[["580b275f.887f28"]]},{"id":"580b275f.887f28","type":"debug","z":"aafbac26.d5de3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":1000,"wires":[]}]