flow.json
[{"id":"886d5232.04e89","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e0a257a6.c40898","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"57fce4c2.82d19c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"37f69221.4660be","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"ff3a1bd9.789c48","type":"mqtt-broker","z":"","name":"","broker":"mosquitto_broker","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a5a29cea.e9778","type":"ui_group","z":"","name":"Default","tab":"1a2e0287.768d7d","order":1,"disp":true,"width":"6","collapse":false},{"id":"1a2e0287.768d7d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7c6b28ac.f4b3a8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"SIMATIC Flow Creator Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"217e4d74.8f28c2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ff47a465.1ccb98","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"21df2600.ab686a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6117be.f391a844","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e6a5bd8e.50986","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://132.186.90.179:4840/","secpol":"None","secmode":"NONE","login":false},{"id":"b21492a9.ee82f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ccb71730.3f6da8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e2052b15.c0dcf8","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://132.186.90.176:4840/","secpol":"None","secmode":"None","login":true},{"id":"6615308f.4323d","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"132.186.90.237","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"500","timeout":"1500","verbose":"default","name":"","vartable":[{"addr":"DB2,INT0","name":"fdf"}]},{"id":"2b92fadf.1287f6","type":"s7comm","z":"","ip":"132.186.90.237","port":"102","rack":"0","slot":"1","payload":[{"S7_Type":"DB","S7_DBnum":"2","S7_Datatype":"I","S7_Offset":"0","S7_BitOffset":"0","S7_Quantity":"2","S7_Name":""}]},{"id":"c4069db7.79b5d","type":"mqtt out","z":"e0a257a6.c40898","name":"","topic":"cctest/tag1","qos":"2","retain":"","broker":"ff3a1bd9.789c48","x":1010,"y":420,"wires":[]},{"id":"a5d24d3e.37dba","type":"mqtt in","z":"e0a257a6.c40898","name":"","topic":"cctest/tag1","qos":"2","datatype":"auto","broker":"ff3a1bd9.789c48","x":260,"y":680,"wires":[["c982b350.e3238"]]},{"id":"c982b350.e3238","type":"debug","z":"e0a257a6.c40898","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":760,"wires":[]},{"id":"7e9a8626.160218","type":"inject","z":"e0a257a6.c40898","name":"trigger at start","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":260,"y":480,"wires":[["d6fc5ac3.f16be8"]]},{"id":"d6fc5ac3.f16be8","type":"function","z":"e0a257a6.c40898","name":"counter","func":"msg.payload = parseInt(msg.payload) + 1;\nreturn msg;","outputs":"1","noerr":0,"x":601,"y":482,"wires":[["5b3bc1e7.5f564","c4069db7.79b5d"]]},{"id":"5b3bc1e7.5f564","type":"delay","z":"e0a257a6.c40898","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":360,"wires":[["d6fc5ac3.f16be8"]]},{"id":"b4563a18.01a138","type":"inject","z":"e0a257a6.c40898","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":920,"wires":[["f3066ebb.08fc"]]},{"id":"f3066ebb.08fc","type":"function","z":"e0a257a6.c40898","name":"Random Temperature","func":"rnd = Math.round(Math.random() * 10);\nmsg.payload = rnd; \nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1060,"wires":[["46850e04.646d6","4c2d39f4.0fd9f8","62e442d1.35fc7c"]]},{"id":"46850e04.646d6","type":"debug","z":"e0a257a6.c40898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":1060,"wires":[]},{"id":"4c2d39f4.0fd9f8","type":"ui_gauge","z":"e0a257a6.c40898","name":"","group":"a5a29cea.e9778","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":960,"wires":[]},{"id":"62e442d1.35fc7c","type":"ui_chart","z":"e0a257a6.c40898","name":"","group":"a5a29cea.e9778","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":900,"wires":[["2bfb400b.385d6"]]},{"id":"2bfb400b.385d6","type":"debug","z":"e0a257a6.c40898","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":860,"wires":[]},{"id":"b52335f4.e35208","type":"mqtt in","z":"e0a257a6.c40898","name":"","topic":"","qos":"2","datatype":"auto","x":260,"y":580,"wires":[[]]},{"id":"57652ef3.45e0a","type":"OpcUa-Item","z":"886d5232.04e89","item":"ns=3;s=\"Tag_50\"","datatype":"Int16","value":"856","name":"","x":380,"y":220,"wires":[["5e8df9d8.7cbf28"]]},{"id":"5e8df9d8.7cbf28","type":"OpcUa-Client","z":"886d5232.04e89","endpoint":"e2052b15.c0dcf8","action":"read","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","name":"","x":607,"y":219,"wires":[["951c52a8.0185e"]]},{"id":"985a9923.cc3b28","type":"inject","z":"886d5232.04e89","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":212,"y":219,"wires":[["57652ef3.45e0a"]]},{"id":"951c52a8.0185e","type":"debug","z":"886d5232.04e89","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":817,"y":217,"wires":[]},{"id":"1891c1a.9e1913e","type":"comment","z":"886d5232.04e89","name":"OPC UA Read","info":"","x":1060,"y":220,"wires":[]},{"id":"6e12f576.a4b10c","type":"s7 in","z":"886d5232.04e89","endpoint":"6615308f.4323d","mode":"single","variable":"fdf","diff":true,"name":"","x":410,"y":480,"wires":[["f699d9fd.459658"]]},{"id":"f699d9fd.459658","type":"debug","z":"886d5232.04e89","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":480,"wires":[]},{"id":"4a519842.03b008","type":"inject","z":"37f69221.4660be","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":180,"wires":[["952bf806.be8788"]]},{"id":"952bf806.be8788","type":"s7comm read","z":"37f69221.4660be","connection":"2b92fadf.1287f6","payload":"{\"S7_Type\":\"DB\",\"S7_DBnum\":\"2\",\"S7_Datatype\":\"I\",\"S7_Offset\":\"0\",\"S7_BitOffset\":\"0\",\"S7_Quantity\":\"2\",\"S7_Name\":\"\"}","s7Name":"","topic":"","name":"","signalSetted":false,"none":"true","repeat":"","once":false,"x":500,"y":180,"wires":[["9f4c87b6.86bad8"]]},{"id":"9f4c87b6.86bad8","type":"debug","z":"37f69221.4660be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":180,"wires":[]},{"id":"a144028b.c6e55","type":"comment","z":"e0a257a6.c40898","name":"","info":"","x":180,"y":840,"wires":[]},{"id":"6470c525.f7317c","type":"mindconnect","z":"e0a257a6.c40898","name":"","configtype":"SHARED_SECRET","agentconfig":"{  \"content\": {    \"baseUrl\": \"https://southgate.eu1.mindsphere.io\",    \"iat\": \"eyJraWQiOiJrZXktaWQtMSIsInR5cCI6IkpXVCIsImFsZyI6IlJTMjU2In0.eyJpc3MiOiJTQ0kiLCJzdWIiOiI1N2E1M2I3NDRkZTk0ODU4YjZjYTEwZjQ1Nzc5M2M3YiIsImF1ZCI6IkFJQU0iLCJpYXQiOjE1OTQyMDExOTksIm5iZiI6MTU5NDIwMTE5OSwiZXhwIjoxNTk0ODA1OTk5LCJqdGkiOiJlM2NiM2E3OC00ZDA2LTRjZWItYjcxYS0wNWYzOGE3ODJhMzAiLCJzY29wZSI6IklBVCIsInRlbiI6ImN0YmxyIiwidGVuX2N0eCI6Im1haW4tdGVuYW50IiwiY2xpZW50X2NyZWRlbnRpYWxzX3Byb2ZpbGUiOlsiU0hBUkVEX1NFQ1JFVCJdLCJzY2hlbWFzIjpbInVybjpzaWVtZW5zOm1pbmRzcGhlcmU6djEiXX0.jAVBygDotF2yH-_7-rncgmADXBGbVxmZVQbH5PqOl1AAaVE2IC7gWJkCDYbkQkLszh_s780GD68dw_upaTp1w_KOlWd5agEbquOsCKShcU_jDq2CqW00E4WD7N_Brv3DY9v89OR6FnTJTRIqzgemdWqZ1nvx7AO8LkQIZCSH30EonmJiKkQCOXFxjkNuqXZSMpmOabrsp-gybluyK-VmxR9G3VyKgoM224br3acR3fuKPgq-4vjTypecQdnhMgRYkRNW4crXSJW0QMYRqGiskEWRawDY0w2qKluKTHrW5_7HRhrQDRlrYfsK6UhFZWsxFBAzkzonm2HOe3J2BmlYZQ\",    \"clientCredentialProfile\": [      \"SHARED_SECRET\"    ],    \"clientId\": \"57a53b744de94858b6ca10f457793c7b\",    \"tenant\": \"ctblr\"  },  \"expiration\": \"2020-07-15T09:39:59.000Z\"}","privatekey":"","model":"","validate":true,"validateevent":true,"chunk":false,"disablekeepalive":false,"retry":3,"parallel":"1","asyncduration":"10","x":1010,"y":1280,"wires":[["7e1bd5b7.76fe2c"]]},{"id":"4fe6efbc.11285","type":"inject","z":"e0a257a6.c40898","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":1160,"wires":[["ea87e582.392d98"]]},{"id":"ea87e582.392d98","type":"function","z":"e0a257a6.c40898","name":"Data Points","func":"const values = [\n    { \n        \"dataPointId\": \"1559207924727\", \n        \"qualityCode\": \"1\", \n        \"value\": \"150\"\n    },\n    { \n        \"dataPointId\": \"1559207911992\", \n        \"qualityCode\": \"1\", \n        \"value\": \"100\"\n    }\n];\n\nmsg._time = new Date();\nmsg.payload = values;  \nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1160,"wires":[["6470c525.f7317c"]]},{"id":"7e1bd5b7.76fe2c","type":"debug","z":"e0a257a6.c40898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":1280,"wires":[]},{"id":"b04a0e49.fc9e4","type":"function","z":"e0a257a6.c40898","name":"Bulk Datapoints","func":"const values = [\n    {\n        timestamp: \"2019-09-26T04:28:36.699Z\",\n        values: [\n            { dataPointId: \"1559207924727\", qualityCode: \"1\", value: \"55\" },\n            { dataPointId: \"1559207911992\", qualityCode: \"1\", value: \"65\" },\n            { dataPointId: \"1559207896898\", qualityCode: \"1\", value: \"85\" }\n        ]\n    },\n    {\n        timestamp: \"2019-09-26T04:27:36.699Z\",\n        values: [\n            { dataPointId: \"1559207924727\", qualityCode: \"1\", value: \"58\" },\n            { dataPointId: \"1559207911992\", qualityCode: \"1\", value: \"68\" },\n            { dataPointId: \"1559207896898\", qualityCode: \"1\", value: \"75\" }\n        ]\n    }\n];\n\nmsg.payload = values;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1280,"wires":[["6470c525.f7317c"]]},{"id":"b11dbafe.e6ee48","type":"inject","z":"e0a257a6.c40898","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":1280,"wires":[["b04a0e49.fc9e4"]]},{"id":"b73efd6d.1b53b","type":"function","z":"e0a257a6.c40898","name":"File Upload","func":"msg.payload = {\n    entityId: \"3b34769e245548da973f8df4b90ec89c\",\n    fileName: \"/home/nodered/node-red-home/test88.txt\", // you can also pass an instance of a Buffer\n    filePath: \"/home/nodered/node-red-home/test88.txt\", // required if you are using buffer instead of the file name\n    description: \"testfile\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1400,"wires":[["6470c525.f7317c"]]},{"id":"efa83fd3.274eb","type":"inject","z":"e0a257a6.c40898","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":1400,"wires":[["b73efd6d.1b53b"]]},{"id":"398fe8c2.f87c28","type":"file","z":"e0a257a6.c40898","name":"","filename":"/home/nodered/node-red-home/test88.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":700,"y":1540,"wires":[[]]},{"id":"7745bf43.4cc0d","type":"inject","z":"e0a257a6.c40898","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":1540,"wires":[["398fe8c2.f87c28"]]},{"id":"87740ecf.2cfba","type":"mindconnect","z":"e0a257a6.c40898","name":"","configtype":"SHARED_SECRET","agentconfig":"{  \"content\": {    \"baseUrl\": \"https://southgate.eu1.mindsphere.io\",    \"iat\": \"eyJraWQiOiJrZXktaWQtMSIsInR5cCI6IkpXVCIsImFsZyI6IlJTMjU2In0.eyJpc3MiOiJTQ0kiLCJzdWIiOiI1N2E1M2I3NDRkZTk0ODU4YjZjYTEwZjQ1Nzc5M2M3YiIsImF1ZCI6IkFJQU0iLCJpYXQiOjE1OTQyMDExOTksIm5iZiI6MTU5NDIwMTE5OSwiZXhwIjoxNTk0ODA1OTk5LCJqdGkiOiJlM2NiM2E3OC00ZDA2LTRjZWItYjcxYS0wNWYzOGE3ODJhMzAiLCJzY29wZSI6IklBVCIsInRlbiI6ImN0YmxyIiwidGVuX2N0eCI6Im1haW4tdGVuYW50IiwiY2xpZW50X2NyZWRlbnRpYWxzX3Byb2ZpbGUiOlsiU0hBUkVEX1NFQ1JFVCJdLCJzY2hlbWFzIjpbInVybjpzaWVtZW5zOm1pbmRzcGhlcmU6djEiXX0.jAVBygDotF2yH-_7-rncgmADXBGbVxmZVQbH5PqOl1AAaVE2IC7gWJkCDYbkQkLszh_s780GD68dw_upaTp1w_KOlWd5agEbquOsCKShcU_jDq2CqW00E4WD7N_Brv3DY9v89OR6FnTJTRIqzgemdWqZ1nvx7AO8LkQIZCSH30EonmJiKkQCOXFxjkNuqXZSMpmOabrsp-gybluyK-VmxR9G3VyKgoM224br3acR3fuKPgq-4vjTypecQdnhMgRYkRNW4crXSJW0QMYRqGiskEWRawDY0w2qKluKTHrW5_7HRhrQDRlrYfsK6UhFZWsxFBAzkzonm2HOe3J2BmlYZQ\",    \"clientCredentialProfile\": [      \"SHARED_SECRET\"    ],    \"clientId\": \"57a53b744de94858b6ca10f457793c7b\",    \"tenant\": \"ctblr\"  },  \"expiration\": \"2020-07-15T09:39:59.000Z\"}","privatekey":"","model":"","validate":true,"validateevent":true,"chunk":false,"disablekeepalive":false,"retry":3,"parallel":"1","asyncduration":"10","x":830,"y":2260,"wires":[["bdf1f9c3.7fa2e8"]]},{"id":"7534b43c.4fbdac","type":"inject","z":"e0a257a6.c40898","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":2140,"wires":[["295ba9b7.0d7946"]]},{"id":"295ba9b7.0d7946","type":"function","z":"e0a257a6.c40898","name":"Data Points","func":"const values = [\n    { \n        \"dataPointId\": \"1581574035193\", \n        \"qualityCode\": \"1\", \n        \"value\": \"99879\"\n    },\n    { \n        \"dataPointId\": \"1581574428550\", \n        \"qualityCode\": \"1\", \n        \"value\": \"654\"\n    }\n];\n\nmsg._time = new Date();\nmsg.payload = values;  \nreturn msg;","outputs":1,"noerr":0,"x":530,"y":2140,"wires":[["87740ecf.2cfba"]]},{"id":"bdf1f9c3.7fa2e8","type":"debug","z":"e0a257a6.c40898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":2260,"wires":[]},{"id":"e6d6c6e5.12e308","type":"function","z":"e0a257a6.c40898","name":"Bulk Datapoints","func":"const values = [\n    {\n        timestamp: \"2019-09-26T04:28:36.699Z\",\n        values: [\n            { dataPointId: \"1559207924727\", qualityCode: \"1\", value: \"55\" },\n            { dataPointId: \"1559207911992\", qualityCode: \"1\", value: \"65\" },\n            { dataPointId: \"1559207896898\", qualityCode: \"1\", value: \"85\" }\n        ]\n    },\n    {\n        timestamp: \"2019-09-26T04:27:36.699Z\",\n        values: [\n            { dataPointId: \"1559207924727\", qualityCode: \"1\", value: \"58\" },\n            { dataPointId: \"1559207911992\", qualityCode: \"1\", value: \"68\" },\n            { dataPointId: \"1559207896898\", qualityCode: \"1\", value: \"75\" }\n        ]\n    }\n];\n\nmsg.payload = values;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":2260,"wires":[["87740ecf.2cfba"]]},{"id":"80ce3fb8.518c3","type":"inject","z":"e0a257a6.c40898","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":2260,"wires":[["e6d6c6e5.12e308"]]},{"id":"a5a5a387.d52e5","type":"function","z":"e0a257a6.c40898","name":"File Upload","func":"msg.payload = {\n    entityId: \"3b34769e245548da973f8df4b90ec89c\",\n    fileName: \"/home/nodered/node-red-home/test88.txt\", // you can also pass an instance of a Buffer\n    filePath: \"/home/nodered/node-red-home/test88.txt\", // required if you are using buffer instead of the file name\n    description: \"testfile\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":2380,"wires":[["87740ecf.2cfba"]]},{"id":"aadf151f.be5848","type":"inject","z":"e0a257a6.c40898","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":2380,"wires":[["a5a5a387.d52e5"]]},{"id":"352a219.4cd37de","type":"file","z":"e0a257a6.c40898","name":"","filename":"/home/nodered/node-red-home/test88.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":520,"y":2520,"wires":[[]]},{"id":"196c4f62.a9ecf1","type":"inject","z":"e0a257a6.c40898","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":2520,"wires":[["352a219.4cd37de"]]}]